# Configuración de LLMs
DEFAULT_LLM_PROVIDER=gemini # u openai, anthropic, ollama
OPENAI_API_KEY=tu_api_key_aqui
GEMINI_API_KEY=tu_api_key_aqui
ANTHROPIC_API_KEY=tu_api_key_aqui

# Configuración General
ENVIRONMENT=development
LOG_LEVEL=INFO
