# Configuración de LLMs
LLM_PROVIDER=gemini # u openai, anthropic, ollama
OPENAI_API_KEY=tu_api_key_aqui
GOOGLE_API_KEY=tu_api_key_aqui
ANTHROPIC_API_KEY=tu_api_key_aqui
OPENCODE_API_KEY=tu_api_key_aqui

# Configuración General
ENVIRONMENT=development
LOG_LEVEL=INFO

# Mac Server and Ollama
#LLM_PROVIDER=ollama
#MAC_SERVER_IP=192.168.1.14
#OLLAMA_PORT=11434
#OLLAMA_MODEL=qwen2.5:7b
